<div>

  <app-title-with-payment-status
    [title]="orderEntry.username"
    [priceForUser]="orderEntry.finalPrice"
    [order]="order"
    [orderEntry]="orderEntry"
    [currentUserId]="currentUserId"
    [costForUser]="orderEntry.finalPrice"
  ></app-title-with-payment-status>

    <div *ngFor="let dishEntry of orderEntry.dishEntries; let dishEntryIndex = index;">
          <div *ngIf="isEntryEdited === true && dishEntryId === dishEntry.id">
<!--            <edit-order-entry-->
<!--              :order-entry="orderEntry"-->
<!--              :dish-entry="dishEntry"-->
<!--              :key="'edit-order-entry-' + dishEntry.id"-->
<!--            >-->
<!--            </edit-order-entry>-->
          </div>
          <div *ngIf="!(isEntryEdited === true && dishEntryId === dishEntry.id)">
            <app-show-order-entry
              [order]="order"
              [orderEntry]="orderEntry"
              [dishEntry]="dishEntry"
              [currentUserId]="currentUserId"
              [index]="dishEntryIndex + 1"
            >
            </app-show-order-entry>
          </div>

      <div *ngIf="dishEntryIndex < orderEntry.dishEntries.length - 1">
        <hr/>
<!--        <v-divider :key="'dish-entry-divider' + dishEntryIndex" class="dishes-divider"></v-divider>-->
      </div>
    </div>

    <div *ngIf="canAddNewEntry()">
          <div *ngIf="isEntryCreating === false">
            <button color="primary ml-4" (click)="createEntry()">
              Add entry<i class="fa fa-plus ml-2" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="isEntryCreating === true">
<!--            <create-order-entry></create-order-entry>-->
          </div>
    </div>
</div>
