<ng-container *ngIf="response$ | async as response">
  <ng-container *ngIf="priceSummaryInput$ | async as priceSummaryInput">
    <app-view-wrapper>
      <h1 class="font-bold text-gray-700">Now call {{ response.restaurantName }} and order the food!</h1>

      <ng-container *ngIf="response.orderState !== 'ORDERING'">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>
              <h1>Ordering from {{ response.restaurantName }}</h1>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <h4>Sorry, the order is empty</h4>
            <p>
              <button mat-raised-button (click)="goBack()" class="hidden-xs-only">
                Go back
                <mat-icon fontIcon="arrow_back"></mat-icon>
              </button>
            </p>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="response.orderState === 'ORDERING'">
        <mat-card appearance="outlined" class="mb-5">
          <mat-card-header>
            <mat-card-title>The order is locked!</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div>
              Order is now locked, so no one should order anything else now.
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button color="primary" (click)="unlockOrder()">
              Unlock
              <mat-icon fontIcon="lock_open"></mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>

        <div class="grid grid-cols-2 gap-3 w-full mb-5">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h1>Call the place!</h1>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content class="h-full">
              <div class="flex flex-col items-center">
              <div *ngIf="response.restaurantTelephone.length > 0; else notelephone" class="justify-center py-6">
                Call {{response.restaurantName}}: <b>tel. {{ response.restaurantTelephone }}</b>
              </div>
              <ng-template #notelephone>
                <b>{{response.restaurantName}}: Telephone number not specified, sorry :/</b>
              </ng-template>

              <div>
                <mat-label>and fill the approximate time of delivery:</mat-label>
              </div>

              <div>
                <app-time-picker [timeFormControl]="formGroup.controls.approxTimeOfDelivery"></app-time-picker>
              </div>

              <button mat-raised-button color="primary" (click)="submitForm()">
                Order placed!
              </button>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title><h1>Cost summary</h1></mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <app-price-summary [priceSummaryData]="priceSummaryInput">
              </app-price-summary>
            </mat-card-content>
          </mat-card>
        </div>

        <app-user-orders [groupedEntries]="response.groupedEntries"></app-user-orders>
      </ng-container>

    </app-view-wrapper>
  </ng-container>
</ng-container>






