@if (data$ | async; as data) {
  <app-view-wrapper>
    <h1>Make an order from {{ data.initData.restaurantName }}</h1>

    @if (data.initData.orderState !== 'ORDERING') {
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Ordering from {{ data.initData.restaurantName }}</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h4>Sorry, the order is empty</h4>
          <p>
            <button mat-raised-button (click)="goBack()" class="hidden-xs-only">
              Go back
              <mat-icon fontIcon="arrow_back"></mat-icon>
            </button>
          </p>
        </mat-card-content>
      </mat-card>
    }

    @if (data.initData.orderState === 'ORDERING') {
      <mat-card appearance="raised" class="mb-5">
        <mat-card-header>
          <mat-card-title>The order is locked!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Order is now locked, so no one should order anything else now.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="unlockOrder()">
            Unlock and go back
            <mat-icon fontIcon="undo"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <div class="grid grid-cols-2 gap-8 w-full mb-5">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Call the place!</mat-card-title>
          </mat-card-header>
          <mat-card-content class="h-full">
            <div class="flex flex-col">
              <div class="justify-center">
                @if (data.initData.restaurantTelephone.length > 0) {
                  <p>Call <b>{{ data.initData.restaurantName }}</b>, tel. <b>{{ data.initData.restaurantTelephone }}</b> and make an order.</p>
                } @else {
                  <p>Call <b>{{ data.initData.restaurantName }}</b> (<i>phone number not specified, sorry</i> :/) and make an order.</p>
                }
              </div>
              <div>
                <p>Afterwards, please fill the approximate time of delivery:</p>
              </div>
              <div>
                <mat-form-field class="time-form-field">
                  <input matInput [ngxMatTimepicker]="picker" [format]="24" [formControl]="formGroup.controls.approxTimeOfDelivery" placeholder="Time">
                  <mat-icon matSuffix (click)="picker.open()">watch_later</mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker #picker></ngx-mat-timepicker>
                <button mat-flat-button color="primary" (click)="submitForm()" class="ml-3">
                  Order placed!
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Cost summary</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-price-summary [priceSummaryData]="data.priceSummaryData">
            </app-price-summary>
          </mat-card-content>
        </mat-card>
      </div>
      <app-user-orders [groupedEntries]="data.initData.groupedEntries"></app-user-orders>
    }

  </app-view-wrapper>
}






