<div class="dialog" *ngIf="shouldShowQRCodeButton()" v-model="dialog" width="350">
<!--  <ng-container v-slot:activator="{ on }">-->
<!--    <v-btn x-small text v-on="on"><v-icon>fa-qrcode</v-icon></v-btn>-->
<!--  </ng-container>-->

  <div class="card">
    <div>
      Bank transfer QR Code
    </div>


    <div class="text-center">
<!--      <qrcode-vue :value="generateCodeValue()" size="300"></qrcode-vue>-->
    </div>

    <div class="actions">
      <app-button color="primary">Close</app-button>
    </div>
  </div>
</div>
