<div>
  <div class="py-2">
  <div>Base price :</div>
  <div>{{priceSummaryInput.basePriceSum | price}}</div>
  </div>

  <div class="py-2" *ngIf="priceSummaryInput.deliveryData.decreaseInPercent === 0 && priceSummaryInput.deliveryData.deliveryCostPerEverybody === 0 && priceSummaryInput.deliveryData.deliveryCostPerDish === 0">
    <div></div>
    <div><span class="unbreakable"><i>No price modifiers</i></span></div>
  </div>

  <div class="py-2" *ngIf="priceSummaryInput.deliveryData.decreaseInPercent !== 0">
    <div>Price decrease :</div>
    <span class="unbreakable">- {{ priceSummaryInput.deliveryData.decreaseInPercent }} %</span>
  </div>

  <div class="py-2" *ngIf="priceSummaryInput.deliveryData.deliveryCostPerEverybody !== 0">
    <div>Delivery :</div>
    <div><span class="unbreakable" >+ {{ priceSummaryInput.deliveryData.deliveryCostPerEverybody | price }}</span></div>
  </div>


  <div class="py-2" *ngIf="priceSummaryInput.deliveryData.deliveryCostPerDish !== 0">
    <div>Delivery per dish:</div>
    <div><span class="unbreakable">+ {{priceSummaryInput.deliveryData.deliveryCostPerDish | price}} * {{ priceSummaryInput.allEatingPeopleCount || 0 }}</span></div>
  </div>

  <div class="py-2">
    <div>Total:</div>
    <div>{{priceSummaryInput.totalPrice | price}}</div>
  </div>
</div>
