<div>
  <h3>Payment</h3>

  <div class="pb-8">
    <mat-slide-toggle [formControl]="paymentDataForm().controls.paymentByCash">
      Payment by cash
    </mat-slide-toggle>
  </div>

  <div class="pb-4">
    <mat-slide-toggle [formControl]="paymentDataForm().controls.paymentByBankTransfer">
      Payment by bank transfer
    </mat-slide-toggle>
  </div>

  <div class="pb-4">
    <mat-form-field class="w-full">
      <mat-label>Bank transfer number</mat-label>
      <input matInput [formControl]="paymentDataForm().controls.bankTransferNumber" />
    </mat-form-field>
  </div>

  <div class="pb-4">
    <mat-slide-toggle [formControl]="paymentDataForm().controls.paymentByBlik">
      Payment by BLIK
    </mat-slide-toggle>
  </div>

  <div>
    <mat-form-field class="w-full">
      <mat-label>BLIK phone number</mat-label>
      <input matInput [formControl]="paymentDataForm().controls.blikPhoneNumber" [disabled]="paymentDataForm().controls.paymentByBlik.value === false"/>
    </mat-form-field>
  </div>
</div>
