<div class="sidenav-outer-container mat-typography" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Alt Szama</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/orders/today">
          Today's Orders
        </a>

        <a mat-list-item routerLink="/orders/all">
          All Orders
        </a>

        <a mat-list-item routerLink="/restaurants">
          Restaurants
        </a>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Hi {{username}}</strong>
        </mat-list-item>

        <a mat-list-item routerLink="/balance">
          Balance
        </a>

        <a mat-list-item (click)="logout()">
          Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="flex flex-col h-full">
        <main class="flex flex-grow w-full">
          <router-outlet></router-outlet>
        </main>

        <footer class="footer px-4 py-6 w-full">
          <div class="w-full flex justify-center">
            <p class="text-sm text-gray-600">
              Please direct all your wishes and complaints to&nbsp;
              <a href="mailto:lukasztenerowicz+altszama@gmail.com" class="text-indigo-500 font-medium">Łukasz
                Tenerowicz</a>
            </p>
          </div>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
