<div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
  <app-sidebar class="sidebar w-64 md:shadow bg-indigo-500"></app-sidebar>
  <main class="main flex flex-col flex-grow -ml-64 md:ml-0">

    <div class="main-content flex flex-col flex-grow p-4">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer px-4 py-6">
      <div class="footer-content">
        <p class="text-sm text-gray-600 text-center">
          Please direct all your wishes and complaints to&nbsp;
          <a href="mailto:lukasztenerowicz+altszama@gmail.com" class="text-indigo-500 font-medium">Łukasz Tenerowicz</a>
        </p>
      </div>
    </footer>
  </main>
</div>
