<div class="sidenav-outer-container" [class.is-mobile]="isMobile()">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Alt Szama</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav
                 [opened]="!isMobile()"
                 [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="isMobile()" fixedTopGap="56">
      <mat-nav-list>
        <div class="title-bar-in-menu">
          <span>Alt Szama</span>
        </div>

        @let links = [
          {icon: "today", path: "/orders/today", text: "Today's Orders"},
          {icon: "list", path: "/orders/all", text: "All Orders"},
          {icon: "food_bank", path: "/restaurants", text: "Restaurants"}
        ] ;
        @for (link of links; track $index) {
          <a mat-list-item [routerLink]=link.path
             routerLinkActive
             #rla="routerLinkActive"
             [activated]="rla.isActive">
            <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
            <span matListItemTitle>{{ link.text }}</span>
          </a>
        }

        <div class="py-2">
          <mat-divider></mat-divider>
        </div>

        <mat-list-item>
          <strong>Hi {{ username }}</strong>
        </mat-list-item>

        <a mat-list-item
           routerLink="/balance"
           routerLinkActive
           #rla="routerLinkActive"
           [activated]="rla.isActive">
          <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
          <span matListItemTitle>Balance</span>
        </a>

        <a mat-list-item (click)="logout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>Logout</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<footer>
    <p>
      Please direct all your wishes and complaints to&nbsp;
      <a href="mailto:konkit+altszama@gmail.com">Łukasz Tenerowicz</a>
    </p>
</footer>
