<!--<ng-container *ngIf="orderResponse$ | async as orderResponse">-->
<app-view-wrapper>
  <h1 class="font-bold text-gray-700">Balance</h1>

  <div class="mt-5" *ngIf="isLoading == false; else spinner">
    <div class="pb-5">
      <h2>Your Balance</h2>

      <div *ngIf="owedMoneyEntries.length === 0">
        <mat-list>
          <mat-list-item>No pending entries - all settled up.</mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="owedMoneyEntries.length > 0">
        <mat-list>
          <mat-list-item *ngFor="let owedUsernameAndAmount of owedMoneyEntries">
            <div *ngIf="owedUsernameAndAmount[1] > 0">
              <p>You are owed <b>
                {{owedUsernameAndAmount[1] | price}}
              </b> by <b>{{owedUsernameAndAmount[0]}}</b></p>
            </div>

            <div *ngIf="owedUsernameAndAmount[1] < 0">
              <p>You owe <b>
                {{-owedUsernameAndAmount[1] | price}}
              </b> to <b>{{owedUsernameAndAmount[0]}}</b></p>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="pb-5">
      <h2>Your order history:</h2>

      <div *ngIf="orderHistoryEntries.length > 0">
        <mat-list>
          <mat-list-item matListItemLine *ngFor="let historyEntry of orderHistoryEntries">
            <div>
              <app-balance-entry [historyEntry]="historyEntry"></app-balance-entry>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="orderHistoryEntries.length === 0">
        <mat-list>
          <mat-list-item>
            Your order history is empty.
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</app-view-wrapper>
