<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind CSS Website</title>
  <!-- Include the Tailwind CSS stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>

<body class="bg-gray-800">

<!-- Hero section with background image and call-to-action -->
<section class="background-image bg-cover bg-center h-screen flex flex-col justify-center items-center">
  <h1 class="text-shadow-md opacity-90 text-white text-9xl font-bold mb-4">AltSzama</h1>
  <h2 class="text-shadow-md opacity-90 text-white text-5xl font-bold mb-4">Order food with your colleagues</h2>
  <p class="text-shadow-md opacity-90 text-white text-4xl mb-8">keep track of orders and payments</p>

  <a routerLink="login/"
     class="bg-white text-gray-800 py-4 px-8 rounded font-bold hover:bg-gray-200 transition duration-300 ease-in-out">
    Let's start
  </a>
</section>

<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1></h1>-->

<!--  <p>Ordering food is easy - you just figure out where to order from and who wants what.</p>-->

<!--  <p>The things get complicated when you order not for 3 collegaues but 13, some people ordered the same dish and you-->
<!--    want to keep track of the payments.</p>-->

<!--  <p>With Alt Szama, the flow looks like this:</p>-->
<!--</section>-->


<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1>1. CREATE AND SHARE A NEW ORDER SHEET</h1>-->

<!--  <p>Decide where are we ordering from and create a new order. </p>-->
<!--  <p>Share it with your collegaues just like you would share a Google Sheet, where everybody write their choice.</p>-->
<!--</section>-->

<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1>2. SELECT YOUR FOOD, WAIT FOR OTHERS</h1>-->

<!--  <p>Everybody write their choice.</p>-->
<!--</section>-->

<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1>3. CALL THE RESTAURANT AND MAKE AN ORDER</h1>-->

<!--  <p>A special view simplifies the order, the same dishes are grouped, so the order making is as fast and easy.</p>-->
<!--</section>-->

<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1>4. NOTIFY OTHERS WHEN THE ORDER ARRIVES</h1>-->

<!--  <p>Web push notifications are used to let your colleagues know, that the food has arrived.</p>-->
<!--</section>-->

<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1>5. PAYMENTS</h1>-->

<!--  <p>Your colleagues don't ask you multiple times for your bank account because all payment details are there.</p>-->
<!--</section>-->

<!--<section class="flex flex-col justify-center items-center">-->
<!--  <h1>6. REPEAT</h1>-->

<!--  <p>Another day, different restaurant?</p>-->
<!--</section>-->
