<div class="flex flex-col md:flex-row">
  <div>
    <span class="text-body1 line-height-3rem">{{ index }}. </span>
    <span class="text-body1 line-height-3rem">{{ dishEntry.dishName }}</span>
    <span class="text-body1 line-height-3rem ml-2">({{dishEntry.price | price}})</span>
  </div>

  <div class="ml-2" *ngIf="canEditOrderEntry()">
    <button mat-icon-button color="primary" (click)="editDishEntry()">
      <mat-icon fontIcon="edit"></mat-icon>
    </button>

    <button mat-icon-button color="warn" (click)="deleteDishEntry()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>

<div *ngFor="let sideDish of dishEntry.sideDishes" class="pl-8">
  <div class="line">
    <span class="text-body1 line-height-3rem mr-2">+</span>
    <span class="text-body1 line-height-3rem">{{ sideDish.name }}</span>
    <span class="text-body1 line-height-3rem ml-2">({{sideDish.price | price}})</span>
  </div>
</div>

<div *ngIf="dishEntry.comments.length > 0" class="pl-8">
  <span class="text-body1 line-height-3rem">
    Additional comments: {{ dishEntry.comments }}
  </span>
</div>
