<div class="flex flex-row py-3">
  <div class="flex">
    @if (canShowPlaceOrderButton && isPlaceOrderButtonDisabled) {
      <button mat-raised-button class="mr-3" [disabled]="true"
        matTooltip="You cannot place an empty order. Choose a dish first.">
        Place order
        <mat-icon fontIcon="check"></mat-icon>
      </button>
    }

    @if (canShowPlaceOrderButton && !isPlaceOrderButtonDisabled) {
      <button mat-raised-button class="mr-3" color="primary" (click)="placeOrder()">
        Place order
        <mat-icon fontIcon="check"></mat-icon>
      </button>
    }

    @if (canShowMarkAsDeliveredButton) {
      <button mat-raised-button class="mr-3" color="primary"
        (click)="setAsDelivered()">
        Mark as delivered
        <mat-icon fontIcon="check"></mat-icon>
      </button>
    }

    <button mat-raised-button class="mr-3" (click)="goToEditOrder()">
      Edit order
      <mat-icon fontIcon="settings"></mat-icon>
    </button>
  </div>
</div>
