<div>
  <div>
    {{ dish.name }} ({{dish.price | price}})
  </div>

  <div class="subtitle text-gray-400">
    @if (dish.lastCrawled != null) {
      <span>
        auto-updated {{ dish.lastCrawled | relativeDate }}
      </span>
    }

    @if (dish.lastCrawled == null) {
      <span>
        updated manually
      </span>
    }
  </div>
</div>

@if (restaurantEditorState.name != 'EDITING_DISH' || restaurantEditorState.dishId != dish.id) {
  <div class="edit-buttons">
    <button mat-icon-button (click)="editDish()" [disabled]="restaurantEditorState.name != 'IDLE'" data-cy="edit-dish-button">
      <mat-icon fontIcon="edit"></mat-icon>
    </button>
    <button mat-icon-button (click)="deleteDish()" [disabled]="restaurantEditorState.name != 'IDLE'" data-cy="delete-dish-button">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
}
