.new-dish-button-container {
  padding: 0.75rem;
  margin-top: 0.75rem;
}

:host {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.edit-buttons {
  margin-left: auto;
  flex-shrink: 0;
}
