<div>
  <div>
    {{ dish.name }} ({{dish.price | price}})
  </div>

  <div class="subtitle text-gray-400">
      <span *ngIf="dish.lastCrawled != null">
        auto-updated {{ dish.lastCrawled | relativeDate }}
      </span>

    <span *ngIf="dish.lastCrawled == null">
        updated manually
      </span>
  </div>
</div>

<div class="edit-buttons" *ngIf="restaurantEditorState.name != 'EDITING_DISH' || restaurantEditorState.dishId != dish.id">
  <button mat-icon-button color="primary" (click)="editDish()" [disabled]="restaurantEditorState.name != 'IDLE'">
    <mat-icon fontIcon="edit"></mat-icon>
  </button>

  <button mat-icon-button (click)="deleteDish()" color="warn" [disabled]="restaurantEditorState.name != 'IDLE'">
    <mat-icon fontIcon="delete"></mat-icon>
  </button>
</div>
