@use "../../../../assets/utils_breakpoints";

:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: utils_breakpoints.$md) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
