<app-view-wrapper>
  <div>
    <button mat-button [routerLink]="['/orders/' + orderId + '/show']">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

  <div class="flex flex-row">
    <h1>Update Order</h1>
    <div class="flex pt-2 pb-3 ml-auto">
      <app-order-state-buttons [orderId]="orderId"
                               [orderState]="(editOrderInitialData$ | async)!.order.orderState"></app-order-state-buttons>
    </div>
  </div>

  <div class="block xl-hidden">
    <mat-vertical-stepper [linear]="true">
      <mat-step>
        <ng-template matStepLabel>Order time</ng-template>
        <app-order-time-form class="mr-20 mb-5"
                             [timeOfOrderControl]="orderForm.controls.timeOfOrder"></app-order-time-form>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Discounts and delivery fees</ng-template>
        <app-delivery-data-form class="mb-5"
                                [deliveryDataForm]="orderForm.controls.deliveryData"></app-delivery-data-form>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
        <app-payment-data-form class="mb-5" [paymentDataForm]="orderForm.controls.paymentData"></app-payment-data-form>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-flat-button (click)="submitForm($event)">Update</button>
      </mat-step>
    </mat-vertical-stepper>
  </div>

  <div class="hidden xl-block">
    <ng-template matStepLabel>Fill details</ng-template>
    <div class="grid grid-cols-3 py-4 pr-10">
      <app-order-time-form class="mr-20 mb-5"
                           [timeOfOrderControl]="orderForm.controls.timeOfOrder"
                           [timeOfDeliveryControl]="orderForm.controls.timeOfDelivery"
      ></app-order-time-form>
      <app-delivery-data-form class="mb-5"
                              [deliveryDataForm]="orderForm.controls.deliveryData"></app-delivery-data-form>
      <app-payment-data-form class="mb-5" [paymentDataForm]="orderForm.controls.paymentData"></app-payment-data-form>
    </div>
    <button mat-raised-button type="button" (click)="cancelEdit()">
      Cancel
    </button>
    <button mat-flat-button (click)="submitForm($event)">
      Update
    </button>
  </div>
</app-view-wrapper>
