<app-view-wrapper title="Update Order">
  <div class="flex pt-2 pb-3">
    <app-order-state-buttons [orderId]="orderId" [orderState]="(editOrderInitialData$ | async)!.order.orderState"></app-order-state-buttons>
  </div>

  <div class="flex flex-row">
    <app-order-time-form class="mr-20" [timeOfOrderControl]="orderForm.controls.timeOfOrder"></app-order-time-form>
    <app-delivery-data-form [deliveryDataForm]="orderForm.controls.deliveryData"></app-delivery-data-form>
    <app-payment-data-form [paymentDataForm]="orderForm.controls.paymentData"></app-payment-data-form>
  </div>

  <button mat-raised-button type="button" (click)="cancelEdit()">
    Cancel
  </button>
  <button mat-raised-button color="primary" (click)="submitForm($event)">
    Update
  </button>
</app-view-wrapper>
