<div>
  <div class="py-2 flex items-center">
    <span class="text-body1">Payment by cash</span>
    <mat-icon *ngIf="paymentData.paymentByCash === true" fontIcon="check" class="ml-2"></mat-icon>
    <mat-icon *ngIf="paymentData.paymentByCash === false" fontIcon="close" class="ml-2"></mat-icon>
  </div>

  <div class="py-2 flex items-center">
    <span class="text-body1">Payment by bank transfer</span>
    <mat-icon *ngIf="paymentData.paymentByBankTransfer === true" fontIcon="check" class="ml-2"></mat-icon>
    <mat-icon *ngIf="paymentData.paymentByBankTransfer === false" fontIcon="close" class="ml-2"></mat-icon>
  </div>

  <div class="px-3 user-selectable flex"
       *ngIf="paymentData.paymentByBankTransfer && paymentData.bankTransferNumber != null && paymentData.bankTransferNumber.trim().length > 0">
    {{ formatBankAccountNr(paymentData.bankTransferNumber) }}
    <mat-icon (click)="showQrModal()" class="cursor-pointer ml-2 material-icons-outlined"
              matTooltip="Show QR code">qr_code
    </mat-icon>
  </div>

  <div class="py-2 flex items-center">
    <span class="text-body1">Payment by BLIK</span>
    <mat-icon *ngIf="paymentData.paymentByBlik === true" fontIcon="check" class="ml-2"></mat-icon>
    <mat-icon *ngIf="paymentData.paymentByBlik === false" fontIcon="close" class="ml-2"></mat-icon>
  </div>

  <div class="px-3 user-selectable"
       *ngIf="paymentData.paymentByBlik && paymentData.blikPhoneNumber != null && paymentData.blikPhoneNumber.trim().length > 0">
    {{ formatBlikPhoneNumber(paymentData.blikPhoneNumber) }}
  </div>
</div>
