.user-selectable {
  user-select: text;
}

//.mdc-icon-button {
//  font-size: 16px;
//}


.mdc-icon-button {
  height: 16px;
  width: 16px;
  font-size: 16px;
  line-height: 16px; // DO NOT FORGET IT !
}





