<div class="-mt-1.5">
  <div class="py-2 flex items-center">
    <span class="text-body1">Payment by cash</span>
    <app-payment-chip [allowed]="paymentData.paymentByCash === true" class="ml-2"></app-payment-chip>
  </div>

  <div class="py-2 flex items-center">
    <span class="text-body1">Payment by bank transfer</span>
    <app-payment-chip [allowed]="paymentData.paymentByBankTransfer === true" class="ml-2"></app-payment-chip>

    <mat-icon
      *ngIf="shouldShowQRCodeButton"
      (click)="showQrModal()" class="cursor-pointer ml-2 material-icons-outlined"
      matTooltip="Show QR code for bank transfer">qr_code
    </mat-icon>
  </div>

  <div class="px-3 user-selectable flex"
       *ngIf="paymentData.paymentByBankTransfer && paymentData.bankTransferNumber != null && paymentData.bankTransferNumber.trim().length > 0">
    <span class="text-body2">{{ formatBankAccountNr(paymentData.bankTransferNumber) }}</span>
  </div>

  <div class="py-2 flex items-center">
    <span class="text-body1">Payment by BLIK</span>

    <app-payment-chip [allowed]="paymentData.paymentByBlik === true" class="ml-2"></app-payment-chip>
  </div>

  <div class="px-3 user-selectable"
       *ngIf="paymentData.paymentByBlik && paymentData.blikPhoneNumber != null && paymentData.blikPhoneNumber.trim().length > 0">
    <span class="text-body2">{{ formatBlikPhoneNumber(paymentData.blikPhoneNumber) }}</span>
  </div>
</div>
