@use "assets/utils";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


table.clickable-table {
  tr {
    cursor: pointer;
  }

  tr.mat-mdc-row:hover {
    background-color: var(--mat-sys-surface-container-high)
  }

  //tr.selected, tr.selected:hover {
  //  //background-color: mat.m2-get-color-from-palette($altszama-theme, 100);
  //}
}
