// Angular setup

@use '@angular/material' as mat;

@import "themes";

@include mat.typography-hierarchy($altszama-typography);

@include mat.core();

@include mat.all-component-themes($altszama-theme);


// Tailwind setup

@tailwind base;
@tailwind components;
@tailwind utilities;

// App-wide styles

html, body {
  width: 100%;
  height: 100%;
}

table.clickable-table {
  tr {
    cursor: pointer;
  }

  tr.mat-mdc-row:hover {
    background-color: mat.m2-get-color-from-palette($altszama-theme, 50);
  }

  tr.selected, tr.selected:hover {
    background-color: mat.m2-get-color-from-palette($altszama-theme, 100);
  }
}


app-root {
  display: block;
  width: 100%;
  height: 100%;
}

.line-height-3rem {
  line-height: 3rem !important;
}

.text-body1 {
  $typography-config: mat.m2-get-typography-config($altszama-theme);
  @include mat.m2-typography-level($typography-config, 'body-1');
}

