@use '@angular/material' as mat; //declare above imports
@import "@angular/material/theming";

$altszama-theme-primary: mat.define-palette($mat-deep-purple, 500, 200, 800);
$altszama-theme-accent: mat.define-palette($mat-deep-purple);
$altszama-theme-warn: mat.define-palette($mat-red);

$altszama-typography: mat-typography-config($font-family: '"Roboto", sans-serif;');


$altszama-theme: mat.define-light-theme((
  color: (
    primary: $altszama-theme-primary,
    accent: $altszama-theme-accent,
    warn: $altszama-theme-warn,
  ),
  typography: $altszama-typography,
  density: 0,
));
