<div class="">
  <mat-list>
    <mat-list-item>
      <b>Address : </b>
      {{ restaurant.address }}
    </mat-list-item>

    <mat-list-item>
      <b>URL : </b>
      <a target="_blank" class="text-indigo-500" [href]="restaurant.url">
        {{ restaurant.url }}
      </a>
    </mat-list-item>

    <mat-list-item>
      <b>Telephone number:</b>
      {{ restaurant.telephone }}
    </mat-list-item>

    <mat-list-item>
      <b>Last auto-updated:</b>
      {{ restaurant.lastCrawled | relativeDate }}
    </mat-list-item>

    <mat-list-item>
      <b>Last updated manually:</b>
      {{ restaurant.lastEdited | relativeDate }}
    </mat-list-item>
  </mat-list>
</div>
