<form [formGroup]="formGroup">
  <div>
    <div class="flex">
      <span class="mr-3 text-body1 line-height-3rem">{{dishIndex}}. </span>

      <mat-form-field class="w-full mr-3">
        <mat-label>Dish</mat-label>
        <input matInput [formControl]="formGroup.controls.dish" [matAutocomplete]="auto"/>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onDishSelected($event.option.value)'
                          [displayWith]="displayFn">
          <mat-option *ngFor="let dish of filteredDishes | async" [value]="dish">
            <div>{{dish.name}}</div>
            <div class="subtitle">
              Price: {{dish.price | price}}, auto-updated {{ dish.lastCrawled | relativeDate }}
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <app-money-input [formControl]="formGroup.controls.price"></app-money-input>
      </mat-form-field>
    </div>

    <div class="pl-6">Side dishes:</div>

    <div class="py-5 pl-8 pb-6">
      <app-side-dishes-input
        [availableSideDishes]="availableSideDishes$ | async"
        [chosenSideDishes]="formGroup.controls.chosenSideDishes">
      </app-side-dishes-input>
    </div>

    <mat-form-field class="w-full pl-6">
      <mat-label>Additional Comments</mat-label>
      <textarea matInput [formControl]="formGroup.controls.additionalComments"></textarea>
    </mat-form-field>
  </div>

  <mat-error>{{formGroup.errors}}</mat-error>

  <app-button (click)="cancelEdit()">Cancel</app-button>
  <app-button color="primary" (click)="submitForm()">Submit</app-button>
</form>
