<div *ngIf="isCreatedEntry(historyEntry)">
  <div (click)="goToOrder(historyEntry.orderId)" [ngClass]="{paid: isCreatedEntryPaid(historyEntry)}">
    <div>
      <div>
        <h3>({{ historyEntry.orderDate }}) You ordered from {{ historyEntry.restaurantName }}</h3>
      </div>

      <div>
        Payments confirmed:
        <b>
          {{ historyEntry.confirmedPaymentsTotalAmount | price}}
          /
          {{ historyEntry.totalAmount | price }}
        </b>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isParticipatedEntry(historyEntry)">
  <div (click)="goToOrder(historyEntry.orderId)" [ngClass]="{paid: isParticipatedEntryPaid(historyEntry)}">
    <div>
      <div>
        <h3>({{ historyEntry.orderDate }}) {{ historyEntry.orderCreator }} ordered from {{
          historyEntry.restaurantName
          }}</h3>
      </div>
      <div>
        Amount:
        {{ historyEntry.orderEntryAmount | price }}
        ({{ historyEntry.status }})
      </div>
    </div>
  </div>
</div>
