<div class="show-order-entry-wrapper py-4">
  <div>
    <div>
      <div class="flex">
        <div class="">
          {{ dishEntry.dishName }}
        </div>

        <span class="ml-2">({{dishEntry.price | price}})
            </span>

        <div class="ml-2" *ngIf="canEditOrderEntry()">
          <button (click)="editDishEntry()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button (click)="deleteDishEntry()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div *ngFor="let sideDish of dishEntry.sideDishes">
      <div class="">
          <div class="side-dish-name">+ {{ sideDish.name }}</div>

          <span class="side-dish-price ml-2">({{sideDish.price | price}})</span>
        </div>
    </div>

    <div *ngIf="dishEntry.comments.length > 0">
      <div class="py-2">
          Additional comments: {{ dishEntry.comments }}
        </div>
    </div>
  </div>
</div>
