@use 'sass:map';
@use '@angular/material' as mat;

@import "../../../../../../../../themes.scss";

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.75rem;
}

.counter {
  padding-top: 0.5rem;
  font-size: 24px;
}

.not-enabled {
  $color-config:    mat.m2-get-color-config($altszama-theme);
  $foreground-palette: map.get($color-config, foreground);

  color: mat.m2-get-color-from-palette($foreground-palette, disabled);
}
