<div class="summary-grid">
  <mat-card>
    <mat-card-content>
      <div matListItemTitle>Base price:</div>
      <div matListItemLine class="counter">{{ priceSummaryData.basePriceSum | price }}</div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div matListItemTitle class="not-enabled">Discount:</div>

      <div matListItemLine *ngIf="priceSummaryData.deliveryData.decreaseInPercent === 0 && priceSummaryData.deliveryData.deliveryCostPerEverybody === 0 && priceSummaryData.deliveryData.deliveryCostPerDish === 0">
        <span class="not-enabled">No discounts</span>
      </div>

      <div matListItemLine class="counter" *ngIf="priceSummaryData.deliveryData.decreaseInPercent !== 0">
        <span>- {{ priceSummaryData.deliveryData.decreaseInPercent }} %</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div matListItemTitle [ngClass]="{'not-enabled': priceSummaryData.deliveryData.deliveryCostPerEverybody === 0 && priceSummaryData.deliveryData.deliveryCostPerDish === 0}">
        <span>Delivery fee:</span>
      </div>
      <div matListItemLine *ngIf="priceSummaryData.deliveryData.deliveryCostPerEverybody !== 0">
        <span class="unbreakable"><b>+ {{ priceSummaryData.deliveryData.deliveryCostPerEverybody | price }}</b>
        per whole order
        </span>
      </div>

      <div matListItemLine *ngIf="priceSummaryData.deliveryData.deliveryCostPerDish !== 0">
        <span class="unbreakable"><b>+ {{ priceSummaryData.deliveryData.deliveryCostPerDish | price }}</b>
          * <b>{{ priceSummaryData.allEatingPeopleCount || 0 }}</b> dish
        </span>
      </div>

      <div matListItemLine *ngIf="priceSummaryData.deliveryData.deliveryCostPerEverybody === 0 && priceSummaryData.deliveryData.deliveryCostPerDish === 0">
        <span class="unbreakable not-enabled">None</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div matListItemTitle>Total:</div>
      <div matListItemLine class="counter">
        {{ priceSummaryData.totalPrice | price }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
