//@use 'sass:map';

@use '@angular/material' as mat;

mat-chip {
  @include mat.chips-overrides((
    outline-color: var(--mat-sys-primary),
  ));
}

.outer {
  border-radius: 9999px;
  display: inline-flex;
  padding: 0.75rem;
  border: 1px solid black;
}
