@use 'sass:map';
@use '@angular/material' as mat;

@import "../../../themes.scss";

.chip {
  $color-config:    mat.get-color-config($altszama-theme);
  $primary-palette: map.get($color-config, 'primary');

  color: mat.get-color-from-palette($primary-palette, default-contrast);
  background: mat.get-color-from-palette($primary-palette, 500);
}
