<div class="hidden lg:block">
  <p>Current status: </p>
  <mat-card>
    <mat-card-content>
      <app-order-data-summary [order]="order">
      </app-order-data-summary>
    </mat-card-content>
  </mat-card>

  <p class="pt-3">Price details: </p>
  <app-price-summary-cards [priceSummaryData]="viewState.priceSummaryData">
  </app-price-summary-cards>

  <p class="pt-3">Payment options: </p>
  <app-payment-options-summary-cards [paymentData]="order.paymentData"
                                 [yourOrderEntries]="viewState.yourOrderEntries"
                                 [paymentOptionsData]="viewState.paymentOptionsData">
  </app-payment-options-summary-cards>
</div>

<div class="block lg:hidden">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Order details
    </mat-expansion-panel-header>

    <app-order-data-summary [order]="order"></app-order-data-summary>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Price summary
    </mat-expansion-panel-header>

    <app-price-summary [priceSummaryData]="viewState.priceSummaryData"></app-price-summary>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Payment options
    </mat-expansion-panel-header>

    <app-payment-options-summary [paymentData]="order.paymentData"
                                 [yourOrderEntries]="viewState.yourOrderEntries"
                                 [paymentOptionsData]="viewState.paymentOptionsData">
    </app-payment-options-summary>
  </mat-expansion-panel>
</div>

<div>
  <div class="flex flex-row flex-wrap">
    <div class="mr-4 py-5">
      <b class="mr-2">See the menu at:</b>
      <a class="text-indigo-500" *ngIf="order.restaurantUrl" target="_blank"
         [href]="order.restaurantUrl">{{ order.restaurantUrl }}</a>
      <i *ngIf="!order.restaurantUrl">Sorry, no menu url specified</i>
    </div>
  </div>
</div>
