<mat-list>
  <mat-list-item>
    <div matListItemTitle>Base price:</div>
    <div matListItemLine>{{ priceSummaryData.basePriceSum | price }}</div>
  </mat-list-item>

  @if (priceSummaryData.deliveryData.decreaseInPercent === 0) {
    <mat-list-item>
      <div matListItemLine>No discount</div>
    </mat-list-item>
  } @else {
    <mat-list-item>
      <div matListItemTitle>Discount:</div>
      <div matListItemLine>- {{ priceSummaryData.deliveryData.decreaseInPercent }} %</div>
    </mat-list-item>
  }

  @if (priceSummaryData.deliveryData.deliveryCostPerEverybody === 0 && priceSummaryData.deliveryData.deliveryCostPerDish === 0) {
    <mat-list-item>
      <div matListItemLine>No delivery fees</div>
    </mat-list-item>
  }

  @if (priceSummaryData.deliveryData.deliveryCostPerEverybody !== 0) {
    <mat-list-item>
      <div matListItemTitle>Delivery fee (per whole order):</div>
      <div matListItemLine>
        <span class="unbreakable">+ {{ priceSummaryData.deliveryData.deliveryCostPerEverybody | price }}</span>
      </div>
    </mat-list-item>
  }

  @if (priceSummaryData.deliveryData.deliveryCostPerDish !== 0) {
    <mat-list-item>
      <div matListItemTitle>Delivery fee (per dish):</div>
      <div matListItemLine>
        <span class="unbreakable">
          + {{ priceSummaryData.deliveryData.deliveryCostPerDish | price }}
          * {{ priceSummaryData.allEatingPeopleCount || 0 }}
        </span>
      </div>
    </mat-list-item>
  }

  <mat-divider></mat-divider>

  <mat-list-item>
    <div matListItemTitle><b>Total:</b></div>
    <div matListItemLine>
      <b>{{ priceSummaryData.totalPrice | price }}</b>
    </div>
  </mat-list-item>
</mat-list>
