<div *ngIf="viewState.shouldDisplayNewOrderEntryCard">
  <div>
    <div>
      <app-new-order-entry-card [isEntryCreating]="modifyOrderEntryState.isEntryCreating"
                                [username]="viewState.username"
                                [modifyOrderEntryState]="modifyOrderEntryState"
                                [showOrderResponse]="showOrderResponse"
                                (refreshRequest)="onRefreshRequest()">
      </app-new-order-entry-card>
    </div>
  </div>
</div>

<div *ngFor="let orderEntry of this.yourOrderEntries; let entryId = index">
  <div>
    <app-order-entry-card
      [showOrderResponse]="showOrderResponse"
      [order]="showOrderResponse.order"
      [orderEntry]="orderEntry"
      [entryId]="entryId"
      [currentUserId]="this.showOrderResponse.currentUserId"
      [modifyOrderEntryState]="modifyOrderEntryState"
      (refreshRequest)="onRefreshRequest()"
    >
    </app-order-entry-card>
  </div>
</div>

<div *ngFor="let orderEntry of this.otherUsersOrderEntries; let entryId = index">
  <div>
    <app-order-entry-card
      [showOrderResponse]="showOrderResponse"
      [order]="showOrderResponse.order"
      [orderEntry]="orderEntry"
      [entryId]="entryId"
      [currentUserId]="this.showOrderResponse.currentUserId"
      [modifyOrderEntryState]="modifyOrderEntryState"
      (refreshRequest)="onRefreshRequest()"
    >
    </app-order-entry-card>
  </div>
</div>
