<app-view-wrapper title="Create Order">
  <div *ngIf="fullRestaurantsList.length === 0">
    <h1 class="my-4">There are no restaurants, please create one first</h1>
  </div>

  <div *ngIf="fullRestaurantsList.length > 0">
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="this.orderForm.controls.restaurantId">
        <ng-template matStepLabel>Select restaurant</ng-template>

        <div class="py-4">
          <mat-form-field class="w-full">
            <input matInput [value]="restaurantsFilter"
                   (input)="filterChanged($event)"
                   placeholder="Filter restaurants by name"/>
          </mat-form-field>

          <table mat-table [dataSource]="restaurantsTableDataSource" class="clickable-table">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Restaurant Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: ['name'];"
                [ngClass]="{'selected': this.orderForm.controls.restaurantId.value === row.id}"
                (click)="this.orderForm.controls.restaurantId.setValue(row.id)"></tr>
          </table>

          <mat-paginator [pageSize]="5"
                         showFirstLastButtons
                         aria-label="Select page">
          </mat-paginator>

          <button mat-raised-button matStepperPrevious (click)="backToTodayOrders()">Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Fill details</ng-template>

        <div class="flex flex-row py-4 pr-10">
          <app-order-time-form class="mr-20" [timeOfOrderControl]="orderForm.controls.timeOfOrder"></app-order-time-form>
          <app-delivery-data-form [deliveryDataForm]="orderForm.controls.deliveryData"></app-delivery-data-form>
          <app-payment-data-form [paymentDataForm]="orderForm.controls.paymentData"></app-payment-data-form>
        </div>

        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="submitForm($event)">Create</button>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</app-view-wrapper>
