<app-view-wrapper>
  <h1 class="font-bold text-gray-700">Today's Orders</h1>

  @if (todaysOrders$ | async; as todayOrders) {
    <div class="mt-5">
      <div class="pb-5">
        <h2>You ordered:</h2>
        @if (todayOrders.currentOrderEntries.length > 0) {
          <mat-action-list>
            @for (orderEntry of todayOrders.currentOrderEntries; track orderEntry) {
              @for (dishEntry of orderEntry.dishEntries; track dishEntry) {
                <mat-list-item (click)="goToOrder(orderEntry.orderId)">
                  <b>{{ dishEntry.dish.name }}</b>
                  from
                  <b>{{ dishEntry.restaurantName }}</b>
                  (STATUS: {{ getOrderStateString(orderEntry.orderState) }})
                </mat-list-item>
              }
            }
          </mat-action-list>
        }
        @if (todayOrders.currentOrderEntries.length == 0) {
          <mat-list>
            <mat-list-item>
              You haven't ordered anything today yet.
            </mat-list-item>
          </mat-list>
        }
      </div>
      <h2 class="">Your team is ordering today from:</h2>
      <div class="pb-5">
        @if (todayOrders.ordersList.length > 0) {
          <mat-action-list>
            @for (element of todayOrders.ordersList; track element) {
              <mat-list-item (click)="goToOrder(element.id)">
                <span matListItemTitle class="flex-row">
                  <span>
                    <b>{{ element.restaurantName }}</b>
                  </span>
                  <span class="ml-auto">
                    (STATUS: {{ getOrderStateString(element.orderState) }})
                  </span>
                </span>
                <span matListItemLine>
                  (created by {{ element.orderCreatorUsername }})
                </span>
              </mat-list-item>
            }
          </mat-action-list>
        }
        @if (todayOrders.ordersList.length === 0) {
          <div>
            <mat-list>
              <mat-list-item>
                <div>No orders yet</div>
              </mat-list-item>
            </mat-list>
          </div>
        }
      </div>
      <button mat-raised-button color="primary" (click)="goToCreateOrder()">
        Add new order <mat-icon fontIcon="add"></mat-icon>
      </button>
    </div>
  }
</app-view-wrapper>
