<app-view-wrapper title="Today's Orders">
  <div *ngIf="todaysOrders$ | async as todayOrders">
    <div>
      <h1 class="mb-4 text-2xl">Your orders today:</h1>

      <div *ngIf="todayOrders.currentOrderEntries.length > 0">
        <ng-container *ngFor="let orderEntry of todayOrders.currentOrderEntries">
          <ng-container *ngFor="let dishEntry of orderEntry.dishEntries">
            <div (click)="goToOrder(orderEntry.orderId)" class="cursor-pointer">
                <b>{{ dishEntry.dish.name }}</b>
                from
                <b>{{ dishEntry.restaurantName }}</b>
                (STATUS: {{ orderEntry.orderState }})
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div *ngIf="todayOrders.currentOrderEntries.length == 0">
        <div>
          You haven't ordered anything today yet.
        </div>
      </div>

      <hr class="my-5"/>

      <h1 class="text-2xl">Orders:</h1>

      <!--              <errors-component/>-->

      <div class="py-5">
        <ng-container *ngIf="todayOrders.ordersList.length > 0">

          <table mat-table [dataSource]="todayOrders.ordersList" class="clickable-table">
            <ng-container matColumnDef="orderData">
              <td mat-cell *matCellDef="let element">
                <b>{{ element.restaurantName }}</b> (created by {{ element.orderCreatorUsername }})
              </td>
            </ng-container>

            <ng-container matColumnDef="created">
              <td mat-cell *matCellDef="let element">
                <div class="orderState" [ngClass]="{matchingState: element.orderState === 'CREATED'}">
                  CREATED
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="ordering">
              <td mat-cell *matCellDef="let element">
                <div class="orderState" [ngClass]="{matchingState: element.orderState === 'ORDERING'}">
                  ORDERING RIGHT NOW
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="ordered">
              <td mat-cell *matCellDef="let element">
                <div class="orderState" [ngClass]="{matchingState: element.orderState === 'ORDERED'}">
                  ORDERED
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="delivered">
              <td mat-cell *matCellDef="let element">
                <div class="orderState" [ngClass]="{matchingState: element.orderState === 'DELIVERED'}">
                  DELIVERED
                </div>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: ['orderData', 'created', 'ordering', 'ordered', 'delivered' ];" [routerLink]="['/orders', row.id, 'show']"></tr>
          </table>
        </ng-container>

        <div *ngIf="todayOrders.ordersList.length === 0">
          <div>No orders yet</div>
        </div>
      </div>

      <app-button [icon]="faAdd" color="primary" (click)="goToCreateOrder()">
        Add new order
      </app-button>
    </div>
  </div>
</app-view-wrapper>
