:host {
  display: flex;
  width: 100%;
  height: 100%;
}


.orderState.matchingState {
  @apply font-bold text-gray-900;
}

.orderState {
  @apply text-gray-400;
}

.wide-order-status {
  display: flex;
  flex-direction: row;
}

.order-state-wrapper {
  @apply ml-10;
}

.line-height-2rem {
  line-height: 2rem;
}
