:host {
  width: 100%;
  height: 100%;
}

section {
  background-image: url('../../../../assets/hero-background2.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.min-height-button {
  min-height: 3rem;
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 41, 55, 0.5);
}
