<div class="mat-typography">
  <section class="background-image bg-cover bg-center h-screen flex flex-col justify-center items-center">
    <div class="container flex items-center justify-center">
      <mat-card appearance="outlined" class="p-5">
        <mat-card-header>
          <mat-card-title>Sign in with Google account</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="mt-10 flex justify-center min-height-button">
            <app-google-login-button></app-google-login-button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
