<div class="mat-typography">
  <mat-toolbar color="primary" class="toolbar">
    <span>Alt Szama</span>
  </mat-toolbar>

  <div class="container flex items-center justify-center pt-24">
    <mat-card class="p-5">
      <mat-card-header>
        <mat-card-title>Sign in with Google account</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="mt-10 flex justify-center">

        <app-google-login-button></app-google-login-button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
