<div>
  <div class="pt-5">
    <app-button *ngIf="restaurantEditorState != RestaurantEditorState.CREATING_DISH" [disabled]="restaurantEditorState != RestaurantEditorState.IDLE" color="primary" (click)="createDish()" class="mr-3" [icon]="faAdd">
      Create new dish
    </app-button>
  </div>

  <div *ngIf="restaurantEditorState == RestaurantEditorState.CREATING_DISH">
    <app-create-dish-form [restaurantId]="restaurant.id" (createSucceded)="onDishCreateSucceded()" (createCancelled)="onDishCreateCancel()"></app-create-dish-form>
  </div>

  <div>
    <div *ngFor="let categoryAndDishes of this.dishesByCategory | keyvalue" class="mt-10">
      <span *ngIf="categoryAndDishes.key" class="text-gray-400"> Category: {{ categoryAndDishes.key }} </span>
      <span *ngIf="categoryAndDishes.key == null" class="text-gray-400">No category</span>

      <div *ngFor="let dish of categoryAndDishes.value" class="flex flex-row py-2 my-2 border-t-2">
        <div *ngIf="restaurantEditorState == RestaurantEditorState.EDITING_DISH && editedDishId == dish.id">
          <app-edit-dish-form [restaurantId]="restaurant.id" [dishId]="dish.id" (editCancelled)="onDishEditCancel()" (editSucceded)="onDishEditSucceeded()"></app-edit-dish-form>
        </div>

        <div *ngIf="restaurantEditorState != RestaurantEditorState.EDITING_DISH || editedDishId != dish.id">
          <div>
            {{ dish.name }} ({{dish.price | price}})
          </div>

          <div class="subtitle text-gray-400">
            <span *ngIf="dish.lastCrawled != null">
              auto-updated {{ dateToRel(dish.lastCrawled) }}
            </span>

            <span *ngIf="dish.lastCrawled == null">
              updated manually
            </span>
          </div>
        </div>

        <div class="edit-buttons ml-auto">
          <!--          <router-link :to="{name: 'DishEditForm', params: {id: restaurant.id, dishId: dish.id}}">-->
          <button mat-button color="primary" (click)="setDishAsEdited(dish.id)">
            <fa-icon [icon]="faPencil"></fa-icon>
          </button>
          <!--          </router-link>-->

          <button mat-button (click)="onDishDelete(dish.id)" color="warn">
            <fa-icon [icon]="faTimes" aria-hidden="true"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
