<div>
  <div>
    <div *ngFor="let categoryAndDishes of this.dishesByCategory | keyvalue">
      <span *ngIf="categoryAndDishes.key"> Category: {{ categoryAndDishes.key }} </span>
      <span *ngIf="categoryAndDishes.key == null">No category</span>

      <div *ngFor="let dish of categoryAndDishes.value">
        <div>
          {{ dish.name }} ({{dish.price | price}})
        </div>

        <div class="subtitle">
          <span *ngIf="dish.lastCrawled != null">
            auto-updated {{ dateToRel(dish.lastCrawled) }}
          </span>

          <span *ngIf="dish.lastCrawled == null">
            updated manually
          </span>
        </div>

        <span class="edit-buttons">
<!--          <router-link :to="{name: 'DishEditForm', params: {id: restaurant.id, dishId: dish.id}}">-->
            <app-button class="edit-button">
              <fa-icon [icon]="faPencil"></fa-icon>
            </app-button>
<!--          </router-link>-->

          <app-button (click)="sendDeleteDish(dish.id)" class="delete-button">
            <fa-icon [icon]="faTimes" aria-hidden="true"></fa-icon>
          </app-button>
        </span>
      </div>
    </div>
  </div>
</div>
