<ng-container *ngIf="restaurant$ | async as restaurantResponse">
  <app-view-wrapper [title]="'Restaurant ' + restaurantResponse.restaurant.name">
    <div class="flex flex-col flex-grow bg-white rounded p-5">
      <div>
        <p><b>Address : </b> {{ restaurantResponse.restaurant.address }}</p>

        <p>
          <b>URL : </b>
          <a target="_blank" [href]="restaurantResponse.restaurant.url">{{ restaurantResponse.restaurant.url }}</a>
        </p>

        <p>
          <b>Telephone number:</b> {{ restaurantResponse.restaurant.telephone }}
        </p>

        <p>
          <b>Last auto-updated:</b>
          {{ dateToRel(restaurantResponse.restaurant.lastCrawled) }}
        </p>

        <p>
          <b>Last updated manually:</b>
          {{ dateToRel(restaurantResponse.restaurant.lastEdited) }}
        </p>
      </div>

      <hr/>

      <div class="d-flex justify-space-between mt-4">
        <app-button dark color="green" (click)="goToCreateDish()">
          Create new dish
          <fa-icon [icon]="faAdd"></fa-icon>
        </app-button>

        <app-button (click)="editRestaurant()">
          Edit restaurant&nbsp;<fa-icon [icon]="faPencil"></fa-icon>
        </app-button>

        <app-button color="error" (click)="deleteRestaurant()">
          Delete restaurant&nbsp;<fa-icon [icon]="faTimes"></fa-icon>
        </app-button>
      </div>

      <app-show-restaurant-dishes-table [restaurant]="restaurantResponse.restaurant"
                                        [dishesByCategory]="restaurantResponse.dishesByCategory"
                                        (deleteDish)="deleteDish($event)">
      </app-show-restaurant-dishes-table>


    </div>
  </app-view-wrapper>
</ng-container>
