@use "../../../../assets/utils_breakpoints.scss";

:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.card-grid {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(300px, 1fr);
  grid-gap: 1rem;

  //@media (min-width: utils_breakpoints.$xl) {
  //  grid-template-columns: 1fr 3fr;
  //}
}

.category {
  color: rgba(0, 0, 0, 0.4);
}
