<ng-container *ngIf="restaurant$ | async as restaurantResponse">
  <ng-container *ngIf="restaurantState$ | async as restaurantEditorState">
    <app-view-wrapper [title]="'Restaurant ' + restaurantResponse.restaurant.name">
      <div class="flex flex-col flex-grow bg-white rounded p-5">

        <div class="flex flex-row p-3">
          <app-button (click)="editRestaurant()" [disabled]="restaurantEditorState != RestaurantEditorState.IDLE"
                      class="mr-3" [icon]="faPencil">
            Edit restaurant
          </app-button>

          <app-button color="warn" (click)="deleteRestaurant()"
                      [disabled]="restaurantEditorState != RestaurantEditorState.IDLE" [icon]="faTimes">
            Delete restaurant
          </app-button>
        </div>

        <ng-container *ngIf="restaurantEditorState != RestaurantEditorState.EDITING_RESTAURANT">
          <app-restaurant-details [restaurant]="restaurantResponse.restaurant"></app-restaurant-details>
        </ng-container>

        <div *ngIf="restaurantEditorState == RestaurantEditorState.EDITING_RESTAURANT" class="py-5">
          <app-edit-restaurant-form [restaurantId]="restaurantResponse.restaurant.id"></app-edit-restaurant-form>
        </div>

        <mat-divider></mat-divider>

        <div>
          <div class="p-3 mt-3">
            <app-button *ngIf="restaurantEditorState != RestaurantEditorState.CREATING_DISH"
                        [disabled]="restaurantEditorState != RestaurantEditorState.IDLE"
                        color="primary"
                        (click)="createDish()"
                        class="mr-3" [icon]="faAdd">
              Create new dish
            </app-button>
          </div>

          <div *ngIf="restaurantEditorState == RestaurantEditorState.CREATING_DISH">
            <app-create-dish-form [restaurantId]="restaurantResponse.restaurant.id"
                                  (createSucceded)="onDishCreateSucceded()"
                                  (createCancelled)="onDishCreateCancel()"></app-create-dish-form>
          </div>
        </div>


        <app-show-restaurant-dishes-table [restaurant]="restaurantResponse.restaurant"
                                          [dishesByCategory]="restaurantResponse.dishesByCategory"
                                          [restaurantEditorState]="restaurantEditorState"
                                          [editedDishId]="editedDishId$ | async">
        </app-show-restaurant-dishes-table>


      </div>
    </app-view-wrapper>
  </ng-container>
</ng-container>
