<ng-container *ngIf="restaurant$ | async as restaurantResponse">
  <app-view-wrapper [title]="'Restaurant ' + restaurantResponse.restaurant.name">
    <div class="flex flex-col flex-grow bg-white rounded p-5">

      <div class="flex flex-row mt-4">
        <app-button (click)="editRestaurant()" [disabled]="restaurantEdited" class="mr-3" [icon]="faPencil">
          Edit restaurant
        </app-button>

        <app-button color="warn" (click)="deleteRestaurant()" [disabled]="restaurantEdited" [icon]="faTimes">
          Delete restaurant
        </app-button>
      </div>

      <ng-container *ngIf="restaurantEdited == false">
        <div class="py-5">
          <mat-list>
            <mat-list-item>
              <b>Address : </b>
              {{ restaurantResponse.restaurant.address }}
            </mat-list-item>

            <mat-list-item>
              <b>URL : </b>
              <a target="_blank" class="text-indigo-500" [href]="restaurantResponse.restaurant.url">
                {{ restaurantResponse.restaurant.url }}
              </a>
            </mat-list-item>

            <mat-list-item>
              <b>Telephone number:</b>
              {{ restaurantResponse.restaurant.telephone }}
            </mat-list-item>

            <mat-list-item>
              <b>Last auto-updated:</b>
              {{ dateToRel(restaurantResponse.restaurant.lastCrawled) }}
            </mat-list-item>

            <mat-list-item>
              <b>Last updated manually:</b>
              {{ dateToRel(restaurantResponse.restaurant.lastEdited) }}
            </mat-list-item>
          </mat-list>
        </div>
      </ng-container>

      <div *ngIf="restaurantEdited == true" class="py-5">
        <div>
          <form [formGroup]="restaurantEditFormGroup">
            <div>
              <mat-form-field class="w-full">
                <mat-label>Name:</mat-label>
                <input matInput [formControl]="restaurantEditFormGroup.controls.name"/>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="w-full">
                <mat-label>Address:</mat-label>
                <input matInput [formControl]="restaurantEditFormGroup.controls.address"/>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="w-full">
                <mat-label>Url:</mat-label>
                <input matInput [formControl]="restaurantEditFormGroup.controls.url"/>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="w-full">
                <mat-label>Telephone:</mat-label>
                <input matInput [formControl]="restaurantEditFormGroup.controls.telephone"/>
              </mat-form-field>
            </div>

            <div>
              <app-button (click)="cancelEdit()">Cancel</app-button>
              <app-button (click)="submitEdit()" color="primary">Submit</app-button>
            </div>
          </form>
        </div>
      </div>

      <mat-divider></mat-divider>


      <app-show-restaurant-dishes-table [restaurant]="restaurantResponse.restaurant"
                                        [dishesByCategory]="restaurantResponse.dishesByCategory"
                                        (deleteDish)="deleteDish($event)">
      </app-show-restaurant-dishes-table>


    </div>
  </app-view-wrapper>
</ng-container>
