:host {
  width: 100%;
  height: 100%;
  display: flex;
}


.title-wrapper {
  h1 {
    margin-bottom: 0;
  }

  .subtitle {

  }

  margin-bottom: 1rem;
}

.subtitle {
  font: var(--mat-sys-title-medium);
}
