<ng-container *ngIf="orderResponse$ | async as orderResponse">
  <ng-container *ngIf="showOrderViewState$ | async as viewState">
    <ng-container *ngIf="modifyOrderEntryState$ | async as modifyOrderEntryState">
      <app-view-wrapper
        [title]="'[' + orderResponse.order.orderState + '] Order from ' + orderResponse.order.restaurantName + ' (' + orderResponse.order.orderDate + ')'">

        <div *ngIf="shouldShowOrderLockedWarning()">
          <div>TODO order locked warning</div>
        </div>

        <div class="flex flex-row py-3" *ngIf="viewState.isOrderOwner">
          <div class="flex">
            <ng-container *ngIf="viewState.canShowPlaceOrderButton && viewState.isPlaceOrderButtonDisabled">
              <app-button class="mr-3" [disabled]="true" matTooltip="You cannot place an empty order. Choose a dish first.">
                Place order <i class="pl-2 fa fa-arrow-right" aria-hidden="true"></i>
              </app-button>
            </ng-container>

            <ng-container *ngIf="viewState.canShowPlaceOrderButton && !viewState.isPlaceOrderButtonDisabled">
              <app-button class="mr-3" color="primary" (click)="placeOrder()">
                Place order <i class="pl-2 fa fa-arrow-right" aria-hidden="true"></i>
              </app-button>
            </ng-container>

            <app-button class="mr-3" color="primary" *ngIf="viewState.canShowMarkAsDeliveredButton" (click)="setAsDelivered()">
              Mark as delivered <i class="pl-2 fa fa-arrow-right" aria-hidden="true"></i>
            </app-button>

            <app-button class="mr-3" (click)="goToEditOrder()" [icon]="faPencil">
              Edit order
            </app-button>

            <app-button class="mr-3" color="warn" (click)="deleteOrder()" [icon]="faTimes">
              Delete order <i class="pl-2 fa fa-cog" aria-hidden="true"></i>
            </app-button>
          </div>
        </div>

        <div class="grid grid-cols-3">
          <div>
            <h2>Order details</h2>
            <app-order-data-summary [order]="orderResponse.order"></app-order-data-summary>
          </div>

          <div>
            <h2>Price summary</h2>
            <app-price-summary [priceSummaryInput]="viewState.priceSummaryInput"></app-price-summary>
          </div>

          <div>
            <h2>Payment options</h2>
            <app-payment-options-summary [paymentData]="orderResponse.order.paymentData"
                                         [showOrderResponse]="orderResponse"
                                         [viewState]="viewState"></app-payment-options-summary>
          </div>
        </div>

        <div>
          <div class="flex flex-row flex-wrap">
            <div class="mr-4 py-5">
              <b class="mr-2">See the menu at:</b>
              <a class="text-indigo-500" *ngIf="orderResponse.order.restaurantUrl" target="_blank"
                 [href]="orderResponse.order.restaurantUrl">{{ orderResponse.order.restaurantUrl }}</a>
              <i *ngIf="!orderResponse.order.restaurantUrl">Sorry, no menu url specified</i>
            </div>
          </div>
        </div>

        <app-order-entries-list [showOrderResponse]="orderResponse"
                                [viewState]="viewState"
                                [modifyOrderEntryState]="modifyOrderEntryState">
        </app-order-entries-list>
      </app-view-wrapper>
    </ng-container>
  </ng-container>
</ng-container>
