<app-view-wrapper title="Restaurants">
  <div *ngIf="indexResponse$ | async as payload">
    <div class="pb-5">
      <app-button color="primary" routerLink="/restaurants/create">Create new restaurant<fa-icon [icon]="faPlus" class="ml-3"></fa-icon></app-button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 clickable-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="dishCount">
        <th mat-header-cell *matHeaderCellDef> Dish Count </th>
        <td mat-cell *matCellDef="let element"> {{element.dishCount}} </td>
      </ng-container>

      <ng-container matColumnDef="lastCrawled">
        <th mat-header-cell *matHeaderCellDef> Last Crawled </th>
        <td mat-cell *matCellDef="let element"> {{element.lastCrawled | relativeDate}} </td>
      </ng-container>

      <ng-container matColumnDef="lastEdited">
        <th mat-header-cell *matHeaderCellDef> Last Edited </th>
        <td mat-cell *matCellDef="let element"> {{element.lastEdited | relativeDate}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/restaurants/', row.id]"></tr>
    </table>

    <mat-paginator [pageSize]="10"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>

    <div class="px-3 py-3">
      <h1 class="text-3xl py-3">Import API</h1>

      <p>To use the Restaurant Import API, please use the following credentials: </p>
      <p><b>Import API Key:</b> {{payload.importCredentials.apiKey}}</p>

      <ng-container *ngIf="getSwaggerUrl() | async as swaggerUrl">
        <a [href]="swaggerUrl">
          <app-button color="primary" [icon]="faUpload">See Import API specification</app-button>
        </a>
      </ng-container>
    </div>
  </div>
</app-view-wrapper>
