:host {
  width: 100%;
  height: 100%;
}


table.clickable-table {
  tr {
    cursor: pointer;
  }

  //tr.mat-mdc-row:hover {
  //  background-color: mat.m2-get-color-from-palette($altszama-theme, 50);
  //}
  //
  //tr.selected, tr.selected:hover {
  //  background-color: mat.m2-get-color-from-palette($altszama-theme, 100);
  //}
}
