<ng-container *ngIf="allowed === true">
  <span class="rounded-full text-gray-800 px-3 py-1 inline-flex bg-green-300">
      <span class="flex items-center">
      Yes! <mat-icon fontIcon="check" class="ml-2"></mat-icon>
    </span>
  </span>
</ng-container>

<ng-container *ngIf="allowed === false">
  <span class="rounded-full text-gray-800 px-3 py-1 inline-flex bg-red-300">
      <span class="flex items-center">
      Nope... <mat-icon fontIcon="close" class="ml-2"></mat-icon>
    </span>
  </span>
</ng-container>
