<div class="d-flex flex-wrap">
  <div>
    <h3 class="text-xl title-text">{{ title }} ({{orderEntry.finalPrice | price}})</h3>
  </div>

  <div *ngIf="isOrderEntryOwner() || isOrderOwner()">
    <div *ngIf="shouldShowPaymentStatus()">
      <div class="chip mx-2" *ngIf="isUnpaid()" color="red" text-color="white">
        Unpaid
      </div>

      <div class="chip mx-2" *ngIf="isConfirmedAsPaid()" color="green" text-color="white">
        Payment confirmed
      </div>
    </div>

    <div *ngIf="shouldShowConfirmAsPaidButton()">
      <app-button (click)="confirmAsPaid(orderEntry.id)" [icon]="faCheck">
        Confirm payment
      </app-button>
    </div>

    <div *ngIf="shouldShowRevertToUnpaid()">
      <app-button (click)="revertToUnpaid(orderEntry.id)" [icon]="faUndo">
        Revert to "unpaid"
      </app-button>
    </div>
  </div>
</div>
