<div class="flex flex-row">
  <div>
    <h3 class="title-text">{{ title }} ({{orderEntry.finalPrice | price}})</h3>
  </div>

  <div *ngIf="isOrderEntryOwner() || isOrderOwner()" class="flex flex-row">
    <div *ngIf="shouldShowPaymentStatus()">
      <div class="chip mx-2" *ngIf="isUnpaid()">
        Unpaid
      </div>

      <div class="chip mx-2" *ngIf="isConfirmedAsPaid()">
        Payment confirmed
      </div>
    </div>

    <div *ngIf="shouldShowConfirmAsPaidButton()">
      <button mat-icon-button (click)="confirmAsPaid(orderEntry.id)" matTooltip="Confirm payment">
        <mat-icon fontIcon="check" ></mat-icon>
      </button>
    </div>

    <div *ngIf="shouldShowRevertToUnpaid()">
      <button mat-icon-button (click)="revertToUnpaid(orderEntry.id)" matTooltip="Revert to 'unpaid'">
        <mat-icon fontIcon="undo" ></mat-icon>
      </button>
    </div>
  </div>
</div>
