<div class="payments-grid">
  <mat-card>
    <mat-card-content *ngIf="paymentData.paymentByCash === true">
      <div matListItemTitle class="flex items-center ">
        Payment by cash <mat-icon fontIcon="check" class="ml-2"></mat-icon>
      </div>

      <div matListItemLine class="text-no-wrap">Allowed</div>
    </mat-card-content>

    <mat-card-content  *ngIf="paymentData.paymentByCash === false">
      <div matListItemTitle class="flex items-center ">
        Payment by cash <mat-icon fontIcon="close" class="ml-2"></mat-icon>
      </div>

      <div matListItemLine class="text-no-wrap">Not allowed</div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content *ngIf="paymentData.paymentByBankTransfer === true">
      <div matListItemTitle class="flex items-center ">
        Payment by bank transfer <mat-icon fontIcon="check" class="ml-2"></mat-icon>
      </div>

      <div matListItemLine class="user-selectable flex"
           *ngIf="paymentData.paymentByBankTransfer && paymentData.bankTransferNumber != null && paymentData.bankTransferNumber.trim().length > 0">
        <span>{{ formatBankAccountNr(paymentData.bankTransferNumber) }}</span>

        <mat-icon
          *ngIf="shouldShowQRCodeButton"
          (click)="showQrModal()" class="cursor-pointer ml-2 material-icons-outlined"
          matTooltip="Show QR code for bank transfer">qr_code
        </mat-icon>
      </div>
    </mat-card-content>

    <mat-card-content *ngIf="paymentData.paymentByBankTransfer === false">
      <span matListItemTitle class="flex items-center ">
        Payment by bank transfer <mat-icon fontIcon="close" class="ml-2"></mat-icon>
      </span>

      <div matListItemLine class="text-no-wrap">Not allowed</div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content *ngIf="paymentData.paymentByBlik === true">
      <div matListItemTitle class="flex items-center ">
        Payment by BLIK <mat-icon fontIcon="check" class="ml-2"></mat-icon>
      </div>

      <div matListItemLine class="user-selectable"
           *ngIf="paymentData.paymentByBlik && paymentData.blikPhoneNumber != null && paymentData.blikPhoneNumber.trim().length > 0">
        {{ formatBlikPhoneNumber(paymentData.blikPhoneNumber) }}
      </div>
    </mat-card-content>

    <mat-card-content *ngIf="paymentData.paymentByBlik === false">
      <div matListItemTitle class="flex items-center ">
        Payment by BLIK <mat-icon fontIcon="close" class="ml-2"></mat-icon>
      </div>

      <div matListItemLine class="text-no-wrap">Not allowed</div>
    </mat-card-content>
  </mat-card>
</div>
