<div class="payments-grid">
  <mat-card>
    @if (paymentData.paymentByCash === true) {
      <mat-card-content>
        <div matListItemTitle class="flex items-center ">
          Payment by cash
        </div>
        <div matListItemLine class="text-no-wrap">Allowed</div>
      </mat-card-content>
    }

    @if (paymentData.paymentByCash === false) {
      <mat-card-content >
        <div matListItemTitle class="flex items-center not-allowed">
          Payment by cash
        </div>
        <div matListItemLine class="text-no-wrap not-allowed">Not allowed</div>
      </mat-card-content>
    }
  </mat-card>

  <mat-card>
    @if (paymentData.paymentByBankTransfer === true) {
      <mat-card-content>
        <div matListItemTitle class="flex items-center ">
          Payment by bank transfer
        </div>
        @if (paymentData.paymentByBankTransfer && paymentData.bankTransferNumber != null && paymentData.bankTransferNumber.trim().length > 0) {
          <div matListItemLine class="user-selectable flex"
            >
            <span>{{ formatBankAccountNr(paymentData.bankTransferNumber) }}</span>
            @if (shouldShowQRCodeButton) {
              <mat-icon
                (click)="showQrModal()" class="cursor-pointer -mb-2 ml-2 material-icons-outlined"
                matTooltip="Show QR code for bank transfer">qr_code
              </mat-icon>
            }
          </div>
        }
      </mat-card-content>
    }

    @if (paymentData.paymentByBankTransfer === false) {
      <mat-card-content>
        <span matListItemTitle class="flex items-center not-allowed">
          Payment by bank transfer
        </span>
        <div matListItemLine class="text-no-wrap not-allowed">Not allowed</div>
      </mat-card-content>
    }
  </mat-card>

  <mat-card>
    @if (paymentData.paymentByBlik === true) {
      <mat-card-content>
        <div matListItemTitle class="flex items-center ">
          Payment by BLIK
        </div>
        @if (paymentData.paymentByBlik && paymentData.blikPhoneNumber != null && paymentData.blikPhoneNumber.trim().length > 0) {
          <div matListItemLine class="user-selectable"
            >
            {{ formatBlikPhoneNumber(paymentData.blikPhoneNumber) }}
          </div>
        }
      </mat-card-content>
    }

    @if (paymentData.paymentByBlik === false) {
      <mat-card-content>
        <div matListItemTitle class="flex items-center not-allowed">
          Payment by BLIK
        </div>
        <div matListItemLine class="text-no-wrap not-allowed">Not allowed</div>
      </mat-card-content>
    }
  </mat-card>
</div>
