@use 'sass:map';
@use '@angular/material' as mat;

//@import "../../../../../../../../themes.scss";

.user-selectable {
  user-select: text;
}

.mdc-icon-button {
  height: 16px;
  width: 16px;
  font-size: 16px;
  line-height: 16px; // DO NOT FORGET IT !
}

.text-body1 {
  color: rgba(0, 0, 0, 0.87);
}

.text-body2 {
  color: rgba(0, 0, 0, 0.54);
}

.method-allowed {
  //$color-config:    mat.m2-get-color-config($altszama-theme);
  //$primary-palette: map.get($color-config, 'primary');

  //color: mat.m2-get-color-from-palette($primary-palette, 500);
  font-weight: 700;
}

.method-not-allowed {
  //$color-config:    mat.m2-get-color-config($altszama-theme);
  //$foreground-palette: map.get($color-config, foreground);

  //color: mat.m2-get-color-from-palette($foreground-palette, disabled);
}
