<mat-list>
  @if (paymentData.paymentByCash === true) {
    <mat-list-item>
      <div matListItemTitle>Payment by cash</div>
      <div matListItemLine>Allowed</div>
    </mat-list-item>
  }

  @if (paymentData.paymentByCash === false) {
    <mat-list-item>
      <div matListItemTitle class="flex items-center">Payment by cash</div>
      <div matListItemLine>Not allowed</div>
    </mat-list-item>
  }

  @if (paymentData.paymentByBankTransfer === true) {
    <mat-list-item>
      <div matListItemTitle>Payment by bank transfer</div>
      @if (paymentData.paymentByBankTransfer && paymentData.bankTransferNumber != null && paymentData.bankTransferNumber.trim().length > 0) {
        <div matListItemLine class="user-selectable"
          >
          <span class="text-body2">{{ formatBankAccountNr(paymentData.bankTransferNumber) }}</span>
          @if (shouldShowQRCodeButton) {
            <mat-icon
              (click)="showQrModal()" class="cursor-pointer ml-2 material-icons-outlined"
              matTooltip="Show QR code for bank transfer">qr_code
            </mat-icon>
          }
        </div>
      }
    </mat-list-item>
  }

  @if (paymentData.paymentByBankTransfer === false) {
    <mat-list-item>
      <div matListItemTitle>Payment by bank transfer</div>
      <div matListItemLine>Not allowed</div>
    </mat-list-item>
  }

  @if (paymentData.paymentByBlik === true) {
    <mat-list-item>
      <div matListItemTitle>Payment by BLIK</div>
      @if (paymentData.paymentByBlik && paymentData.blikPhoneNumber != null && paymentData.blikPhoneNumber.trim().length > 0) {
        <div matListItemLine class="user-selectable"
          >
          <span class="text-body2">{{ formatBlikPhoneNumber(paymentData.blikPhoneNumber) }}</span>
        </div>
      }
    </mat-list-item>
  }

  @if (paymentData.paymentByBlik === false) {
    <mat-list-item>
      <div matListItemTitle>Payment by BLIK</div>
      <div matListItemLine>Not allowed</div>
    </mat-list-item>
  }

</mat-list>
